*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav {
    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul li {
    display: inline;
    margin-right: 25px;
    font-weight: bold;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#homepage{
    height: 100vh;
    display: flex;
    align-items: center;
}
img{
    filter: brightness(0) invert(1);
}